<label for="name">Server Name:</label>
<input type="text" [(ngModel)]="server.serverName" placeholder="Server Name"
    (input)="checkBtnStatus(server.serverName, server.serverDetail)"><br>
<label for="detail">Server Detail:</label>
<input type="text" [(ngModel)]="server.serverDetail" placeholder="Server Detail"
    (input)="checkBtnStatus(server.serverName, server.serverDetail)"><br>
<button class="btn btn-info" [disabled]="serverButtonDisabled"
    (click)="addServer(server.serverName, server.serverDetail)" *ngIf="!hideUpdateBtn"> {{serverButtonDesc}} </button>
<button class="btn btn-info" [disabled]="serverButtonDisabled" (click)="updateServerDetails()" *ngIf="hideUpdateBtn">
    Update Server Details
</button>