<h2>Simple Collapsible</h2>
<span data-toggle="collapse" data-target="#demo">Simple collapsible</span>
<div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>
<h2 data-toggle="collapse" data-target="#id2">Collapse2 Ex</h2>
<div id="id2" class="collapse">
    kasjbkbjks
</div>

<ul class="list-group">
    <li class="list-group-item">
        <a href="#" data-toggle="collapse" data-target="#bt1">Example 1</a>
        <div class="collapse" id="bt1">Toggle Example 1</div>
    </li>
</ul>